data_gathering/images/background
data_gathering/images/background_2_old
data_gathering/images/Brasilien
data_gathering/images/Frankreich
data_gathering/images/pitch_video
data_gathering/images/Spanien


.firebase
__pycache__
.firebaserc
firebase.json
database.rules.json