<!DOCTYPE html>
<html>
<head>
	<title>Example</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
	<style>
		body {
			margin: 0;
			padding: 0;
			height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
		}
    form {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    input {
      width: 2rem;
      text-align: center;
      margin: 0 0.5rem;
    }
    button {
      margin-left: auto;
      margin-right: 1rem;
    }
	</style>
</head>
<body>
  <form>
    <input type="number" min="0" max="9">
    <input type="number" min="0" max="9">
    <button type="submit">Senden</button>
  </form>
</body>
</html>
